.place__text {
  color: #FFFFFF;
  max-width: 484px;
  line-height: 29px;
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 631px) {
  .place__text {
    margin: 0 auto;
  }
}
  
@media screen and (max-width: 516px) {
  .place__text {
    margin: 0 16px;
  }
}